html,body,.App{
  background: black !important;
}
.navbar{
  background-color:blueviolet;
}
.subject
{
  padding-top: 2%;
 width: 50%;
  display: flex;
  list-style: none;
  color: white;
}
.subject-name{
  margin-right: auto;
}

.logo,.nav-item,.test,#add-question-title{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 26px
}
#add-question-title{
  color: black;
}
.add-question{
  padding: 2%;
  border:1px solid black;
}
.add-options{
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}
#answer{
  margin-bottom: 1%;
}
.subject-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
.testlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.test{
  font-size: 16px;
  }
  
.nav-item{
  font-size: 20px;
}
.logo:hover,.nav-item:hover,.test:hover{
  color:white;
  cursor: pointer;
}
.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.link:hover{
  text-decoration: none;
}

h3{
  color:white;
}
.block{
  height: auto;
  margin: 10%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testset{
  background: white;
}
#log-title{
  text-align: center;
}
Link{
  text-decoration-line: none !important;
}
.log-card{
  background: #ececec;
  padding: 15%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
 
  align-self: center;
}
#user-input,#password-input,#email-input,#subject-input{
  width: 250px;
  height:40px;

}
#uname,#password-part,#email-part{
  
  display: flex;
  justify-content: center;
  padding: 2%;
}
#log,#reg{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
}
.btn{
  color: white !important ;
  background: blueviolet  !important;
  font-family: Verdana, Geneva, sans-serif  !important;
  font-weight: bold  !important;
}
.options{
  display: flex;
  list-style: none;
}
.option-set{
  display: flex;
  flex-direction: column;
}
.option-check{
  margin: 5px;
}
.charts{
  padding-top: 5%;
  padding-bottom: 5%;
}
.chart-title,.admin-title{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
}
